body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
    height: 100vh;
    background-color: #24252a;
  }

  .container {
    overflow: hidden;
    text-align: center;
    margin-left: 20px;
  }

  .animated-table {
    border-collapse: collapse;
    width: 100%;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s, transform 0.5s;
  }
 
  .animated-table td, .animated-table th {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
  }

  .animated-table th {
    background-color: #f2f2f2;
    text-align: center;
  }

  .animated-table tr:hover {
    background-color: #000;
  }

  .animation-show {
    opacity: 1;
    transform: translateY(0);
  }

  .animated-text {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s, transform 0.5s;
  }

  .text-show {
    opacity: 1;
    transform: translateY(0);
  }

  td{
    color: #dddddd;
  }
